{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			{% include "_inc/flash.messages.html.twig" %}
			<h1>Liste des propositions</h1>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12">
	
    <p class="text-right">
        
    </p>
	</div>
		<table class="table table-striped">
			<tr>
				<th>Evénement</th>
				<th>Fait par</th>
				<th>Durée</th>
				<th>Nb participant</th>
				<th>Nb Inscrit</th>
				<th>Montant</th>
				<th>Actions</th>
			</tr>
			{% for proposition in results %} 
				<tr>
					<td class="col-md-3">{{ proposition.devis.libelle }}</td>
					<td class="col-md-2">{{ proposition.coiffeur.nom }}</td>
					<td class="col-md-2">
						{{ proposition.devis.heureDebut }} - {{ proposition.devis.heureFin }}
					</td>
					<td class="col-md-1">{{ proposition.devis.nbParticipants}}</td>
					<td class="col-md-1">{{ proposition.devis.nbInscrit}}</td>
					<td class="col-md-1">{{ proposition.montant }}€</td>
					<td class="col-md-2">
					{% if date() > proposition.devis.date %}
						<a class="border border-success rounded col-md-12 text-success">Evénement passé 
					{% else %}
						{% if proposition.devis.devisStatut.id == 2 %}
							<a class="border border-info rounded col-md-12 text-info">Devis validé 
						{% else %}
							{% if proposition.validationBC == 1  %}
								<a href="{{ url('bizandcut.propositions.refuse', { id:proposition.id, idDevis:proposition.devis.id }) }}"><div style="width: 40px; height: 40px; border-radius: 20px; background: green;"></div></a>
							{% else %}
								<a href="{{ url('bizandcut.propositions.accepte', { id:proposition.id, idDevis:proposition.devis.id }) }}"><div style="width: 40px; height: 40px; border-radius: 20px; background: red;"></div></a>
							{% endif %}
						{% endif %}
					{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}









