{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			{% include "_inc/flash.messages.html.twig" %}
			<h1>Liste des propositions</h1>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12">
	
    <p class="text-right">
        
    </p>
	</div>
		<table class="table table-striped">
			<tr>
				<th>N° devis</th>
				<th>Fait par</th>
				<th>Fait le</th>
				<th>Durée</th>
				<th>Nb participant</th>
				<th>Montant</th>
				<th>Actions</th>
			</tr>
			{% for proposition in results %} 
				<tr>
					<td class="col-md-1">{{ proposition.devis.id }}</td>
					<td class="col-md-2">{{ proposition.coiffeur.nom }}</td>
					<td class="col-md-2">{{ proposition.dateProposition|date("m/d/Y") }}</td>
					<td class="col-md-2">
						{% if proposition.devis.nbHeuresDevis == 1 %}
							Une journée
						{% else %}	
							Une demie journée
						{% endif %}
					</td>
					<td class="col-md-2">{{ proposition.devis.nbParticipantsDevis }}</td>
					<td class="col-md-2">{{ proposition.montant }}€</td>
					<td class="col-md-1">
						{% if proposition.validationBC == 1  %}
							<a href="{{ url('bizandcut.propositions.accepte', { id:proposition.id, idDevis:proposition.devis.id }) }}"><div style="width: 40px; height: 40px; border-radius: 20px; background: green;"></div></a>
						{% else %}
							<a href="{{ url('bizandcut.propositions.accepte', { id:proposition.id, idDevis:proposition.devis.id }) }}"><div style="width: 40px; height: 40px; border-radius: 20px; background: red;"></div></a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}









