{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Complétez votre profil</h1>
			
			{{ form_start(form, { attr: { novalidate: 'novalidate' } } ) }}	
				<p>
					{{ form_label(form.rib, "RIB:") }} 
					{{ form_widget(form.rib,
						 { attr: 
                        {
                            placeholder:'',
                            autofocus:'autofocus'
                        } 
                    }
					 ) }}
				</p>
				<p>
					{{ form_label(form.diplome, "Saisissez vos diplômes:") }} 
					{{ form_widget(form.diplome,
						 { attr: 
							{
								placeholder:'',
								autofocus:'autofocus'
							} 
                    	}
					 ) }}
				</p>
			<p>
				<input type="submit" value="Valider" class="btn btn-info"/>
			</p>
			{{form_end(form)}}
		</div>
	</div>
{% endblock %}