{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			{% include "_inc/flash.messages.html.twig" %}
			<h1> Profil </h1>
		</div>
	</div>

	
	<div class="row">
	<div class="col-md-12">
	
    <p class="text-right">
        
    </p>
	</div>
	
		<table class="table table-striped">
			<ul>
				<li> 
					<b> Civilite : </b> 
					{{results.civilite}}
						
				</li>
				<li> 
					<b> Nom: </b> 
					{{results.nom}}
				</li>
				<li> 
					<b> Prénom: </b>
					{{results.prenom}} 
				</li>
				<li> 
					<b> Adresse: </b>
					{{results.adresse}}
					</li>
				<li> 
					<b> Ville: </b>
					{{results.ville}}
				</li>
				<li> 
					<b> Code postal: </b>
					{{results.cp}}
				</li>
				<li> 
					<b> Téléphone: </b>
					{{results.telephone}}
				</li>
				<li> 
					<b> Email: </b>
					{{results.email}}
				</li>
				<li> 
					<b> Nombre d'année d'expérience: </b>
					{{results.nbAnneesExp}}
				</li>
				<li> 
					<b> Distance entre votre adresse souhaitée et l'adresse de l'entreprise: </b>
					{{results.distance}}
				</li>
				
				{# {% if results.rib = null and results.diplome = null %}
					<li> 
						<b> RIB: </b>
					</li>
					<li> 
						<b> Saisissez votre diplôme: </b>
					</li>
				{% else %}
					<li> 
						<b> RIB: </b>
						{{results.rib}}
					</li>
					<li> 
						<b> Saisissez votre diplôme: </b>
						{{results.diplome}}
					</li>
				{% endif %} #}
			</ul>

		

			<td>	
				<a href="{{ url('coiffeur.profil.form') }}" class="btn btn-info">Complétez votre profil</a> 
			</td>

		</table>
	</div>
{% endblock %}









