{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription Entreprises</h1>


{{ form_start(form, { attr: { novalidate: 'novalidate' } } ) }}
				
				<div id="Form" class="mt-4">
					<div class="row">
						<div class="col">
							{{ form_label(form.nom, "Nom") }} 
							{{ form_widget(form.nom) }}
						</div>
						<div class="col">
							{{ form_label(form.prenom,"Prénom") }} 
							{{ form_widget(form.prenom) }}
						</div>
						<div class="col">
							{{ form_label(form.email,"Email") }} 
							{{ form_widget(form.email) }}
						</div>
					</div >

					<div class="row">
						<div class="col">
							{{ form_label(form.fonctionEntreprise, "Fonction au sein de l'entreprise") }} 
							{{ form_widget(form.fonctionEntreprise) }}
						</div>
						<div class="col">
							{{ form_label(form.telephoneEntreprise,"Téléphone") }} 
							{{ form_widget(form.telephoneEntreprise) }}
						</div>
					</div >

					<div class="row">
						<div class="col">
							{{ form_label(form.nomEntreprise,"Nom de l'entreprise") }} 
							{{ form_widget(form.nomEntreprise) }}
						</div>
						<div class="col">
							{{ form_label(form.sirenEntreprise,"Siren de l'entreprise") }} 
							{{ form_widget(form.sirenEntreprise) }}
						</div>
					</div >

					<div ="row">
						<div class="col"> 
							{{ form_label(form.adresseEntreprise, 'Adresse') }}
						 </div>
						{{ form_widget(form.adresseEntreprise) }}
					</div>
                    
					<div class="row">
						<div class="col">
							{{ form_label(form.villeEntreprise, "Ville ") }} 
							{{ form_widget(form.villeEntreprise) }}
						</div>
						<div class="col">
							{{ form_label(form.cpEntreprise, "Code Postal ") }} 
							{{ form_widget(form.cpEntreprise) }}
						</div>
					</div >

					<div class="row">
						<div class="col"> 
                            {{ form_label(form.plainPassword, 'Mot de passe') }}
                            {{ form_widget(form.plainPassword.first) }}
                        </div>
						<div class="col"> 
                            {{ form_label(form.plainPassword, 'Confirmer le mot de passe') }}
                            {{ form_widget(form.plainPassword.second) }}
                        </div>
                    </div>
				</div>
			<p>
                </br>
				<button type="submit" class="btn btn-info">Validé</button>
			</p>
    {{ form_end(form) }}
{% endblock %}