{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription coiffeur</h1>

{{ form_start(form, { attr: { novalidate: 'novalidate' } } ) }}
				
				<div id="Form" class="mt-4">
					<div class="row">
                        <div class="col">
							{{ form_label(form.civilite, "Civilité") }} 
							{{ form_widget(form.civilite) }}
						</div>
						<div class="col">
							{{ form_label(form.nom, "Nom") }} 
							{{ form_widget(form.nom) }}
						</div>
						<div class="col">
							{{ form_label(form.prenom,"Prénom") }} 
							{{ form_widget(form.prenom) }}
						</div>
					</div >

					<div class="row">
						<div class="col">
							{{ form_label(form.type, "Type de coiffeur") }} 
							{{ form_widget(form.type) }}
						</div>
						<div class="col">
							{{ form_label(form.nbAnneesExp, "Nombre d'année d'expérience") }} 
							{{ form_widget(form.nbAnneesExp) }}
						</div>
						<div class="col"> 
                            {{ form_label(form.distance, 'Km max pour se rendre a un événements:') }}
						    {{ form_widget(form.distance) }}
                        </div>
					</div >

					<div class="row">
						<div class="col">
							{{ form_label(form.email, 'Email') }} 
							{{ form_widget(form.email) }}
						</div>
						<div class="col">
							{{ form_label(form.telephone, 'Téléphone') }} 
							{{ form_widget(form.telephone) }}
						</div>
					</div >

					<div ="row">
						<div class="col"> 
							{{ form_label(form.adresse, 'Adresse') }}
						 </div>
						{{ form_widget(form.adresse) }}
					</div>
                    
					<div class="row">
						<div class="col">
							{{ form_label(form.ville, "Ville ") }} 
							{{ form_widget(form.ville) }}
						</div>
						<div class="col">
							{{ form_label(form.cp, "Code Postal ") }} 
							{{ form_widget(form.cp) }}
						</div>
					</div >

					<div class="row">
						<div class="col"> 
                            {{ form_label(form.plainPassword, 'Mot de passe') }}
                            {{ form_widget(form.plainPassword.first) }}
                        </div>
						<div class="col"> 
                            {{ form_label(form.plainPassword, 'Confirmer le mot de passe') }}
                            {{ form_widget(form.plainPassword.second) }}
                        </div>
                    </div>
				</div>
			<p>
                </br>
				<button type="submit" class="btn btn-info">Validé</button>
			</p> 
    {{ form_end(form) }}
{% endblock %}