{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			{% include "_inc/flash.messages.html.twig" %}
			<h1>Liste des devis</h1>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12">
	
    <p class="text-right">
        
    </p>
	</div>
		<table class="table table-striped">
			<tr>
				<th>Statut</th>
				<th>Date de reception</th>
				<th>Nom</th>
				<th>Telephone</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
			{% for mail in mails %}
				<tr>
					<td class="col-md-2">
						{% if mail.lu == 0 %} <a class="border border-success rounded col-md-12 text-success">Nouveau {% else %} <a class="border border-info rounded col-md-12 text-info">Déjà lu {% endif %}</a>	
					</td>
					<td class="col-md-2">{{ mail.date|date("d/m/Y") }}</td>
					<td class="col-md-2">{{ mail.nom }}</td>
					<td class="col-md-1">{{ mail.telephone }}</td>
					<td class="col-md-3">{{ mail.email}}</td>
					<td class="col-md-2">
						<a class="btn btn-dark col-md-12" href="{{ url('bizandcut.mail', { id:mail.id }) }}">Voir</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}









