{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription rdv evenement : Entreprise ee</h1>


{{ form_start(form, { attr: { novalidate: 'novalidate' } } ) }}
				
				<div id="Form" class="mt-4">
					<div class="row">
						<div class="col">
							{{ form_label(form.nom, "Nom") }} 
							{{ form_widget(form.nom) }}
						</div>
						<div class="col">
							{{ form_label(form.prenom,"Prénom") }} 
							{{ form_widget(form.prenom) }}
						</div>					
						<div class="col">
							{{ form_label(form.email,"Email") }} 
							{{ form_widget(form.email) }}
						</div>
					</div >

<p></br>Choisissez votre creneau :</p>
<p>(9h-11h)</p>

<div>
  <input type="radio" id="huey" name="drone" value="huey"
         checked>
  <label for="huey">9:00</label>
</div>

<div>
  <input type="radio" id="dewey" name="drone" value="dewey">
  <label for="dewey">9:20</label>
</div>
<div>
  <input type="radio" id="louie" name="drone" value="louie">
  <label for="louie">9:40</label>
</div>
<div>
  <input type="radio" id="louie" name="drone" value="louie">
  <label for="louie">10:00</label>
</div>
<div>
  <input type="radio" id="louie" name="drone" value="louie">
  <label for="louie">10:20</label>
</div>
<div>
  <input type="radio" id="louie" name="drone" value="louie">
  <label for="louie">10:40</label>
</div>

				</div>
			<p>
                </br>
				<button type="submit" class="btn btn-info">Validé</button>
			</p>
    {{ form_end(form) }}
{% endblock %}