{% extends 'base.html.twig' %}

{% block script %}
	<script>
		function myFunction(heure) {
			creneau = heure;
		}
	</script>
{% endblock %}

{% block body %}
    <h1>Inscription rdv evenement</h1>


{{ form_start(form, { attr: { novalidate: 'novalidate' } } ) }}
				
				<div id="Form" class="mt-4">
					<div class="row">
						<div class="col">
							{{ form_label(form.nom, "Nom") }} 
							{{ form_widget(form.nom) }}
						</div>
						<div class="col">
							{{ form_label(form.prenom,"Prénom") }} 
							{{ form_widget(form.prenom) }}
						</div>					
						<div class="col">
							{{ form_label(form.email,"Email") }} 
							{{ form_widget(form.email) }}
						</div>
					</div >

					{% set creneau = 0 %}

						<div>
							{{ form_label(form.heureCreneau,"Selectionnez votre creneau") }} 
							
							<p>(9h-11h)</p>
						</div>

			<div>

			<button type="button" class="btn btn-success">9:00</button>

			<button type="button" class="btn btn-success">9:30</button>

			<button type="button" class="btn btn-secondary">10:00</button>

			<button type="button" class="btn btn-success">10:30</button>
			</div>

			<p>
                </br>
				<button type="submit" class="btn btn-info">Valider</button>
			</p>
    {{ form_end(form) }}
{% endblock %}