{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur notre enquete de satisfaction</h1>
    <p>
        Vous avez participer a un evenement de coiffure organiser par l'entreprise {{ devis.entreprise.nomEntreprise }}.
    </p>


{{ form_start(form, { attr: { novalidate: 'novalidate' } } ) }}
				
				<div id="Form" class="mt-4">
					<div class="row">
						<div class="col">
							{{ form_label(form.note, "Quelle note donneriez vous a votre coiffeur: ") }} 
							{{ form_widget(form.note) }}
						</div>
					</div >


			<p>
                </br>
				<button type="submit" class="btn btn-info">Valider</button>
			</p>
    {{ form_end(form) }}
{% endblock %}