{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Création Entreprise</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			{# form : variable envoyée par le contrôleur #}
			{{ form_start(form, { attr: { novalidate: 'novalidate' } } ) }}
				<p>
					{# provient de la classe de formulaire (Insc_entreType) #}
					{{ form_label(form.nom_entreprise, 'Nom Entreprise:') }}
					<br/>
					{{ form_widget(form.nom_entreprise) }}
				</p>
				<p>
					{{ form_label(form.prenom_nom_user_entreprise, 'Prénom Nom utilisateur:') }}
					<br/>
					{{ form_widget(form.prenom_nom_user_entreprise) }}
				</p>

				<p>
					{{ form_label(form.fonction_entreprise, 'Fonction Entreprise:') }}
					<br/>
					{{ form_widget(form.fonction_entreprise) }}
				</p>

				<p>
					{{ form_label(form.siren_entreprise, 'Siren Entreprise:') }}
					<br/>
					{{ form_widget(form.siren_entreprise) }}
				</p>

				<p>
					{{ form_label(form.statut_entreprise, 'Statut juridique Entreprise:') }}
					<br/>
					{{ form_widget(form.statut_entreprise) }}
				</p>

				<p>
					{{ form_label(form.email_entreprise, 'Email Entreprise:') }}
					<br/>
					{{ form_widget(form.email_entreprise) }}
				</p>

				<p>
					{{ form_label(form.telephone_entreprise, 'Téléphone Entreprise:') }}
					<br/>
					{{ form_widget(form.telephone_entreprise) }}
				</p>

				<p>
					{{ form_label(form.adresse_entreprise, 'Adresse Entreprise:') }}
					<br/>
					{{ form_widget(form.adresse_entreprise) }}
				</p>

				<p>
					{{ form_label(form.ville_entreprise, 'Ville:') }}
					<br/>
					{{ form_widget(form.ville_entreprise) }}
				</p>

				<p>
					{{ form_label(form.cp_entreprise, 'Code postal:') }}
					<br/>
					{{ form_widget(form.cp_entreprise) }}
				</p>

				<p>
					{{ form_label(form.mdp_entreprise, 'Mot de passe:') }}
					<br/>
					{{ form_widget(form.mdp_entreprise.first) }}
					<br/>

					{{ form_label(form.mdp_entreprise, 'Confirmer le mot de passe:') }}
					<br/>
					{{ form_widget(form.mdp_entreprise.second) }}
				</p>
				

				<p>
					<input type="submit" class="btn btn-info" style="margin-top: 100px" value="Valider">
				</p>
				
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}