{% extends "base.html.twig" %}
{% block body %}
	<div class="row">
		<div class="col">
			<h1>Demander un devis</h1>
			
			{{form_start(form,
                    { attr: 
                        {
                            novalidate:'novalidate'
                        } 
                    })
            }}
			<p>
				{{form_label(form.nbParticipantsDevis, 'Nombre de participant:')}}
				{{form_widget(form.nbParticipantsDevis,
                    { attr: 
                        {
							placeholder:'Saisissez un nombre de participant', 
							autofocus:'autofocus'
							}
                    })}}
			</p>
			<div class="row">
				<div class="col">
					{{ form_label(form.dateEvenementDevis, "Date de l'evenement ") }} 
					{{form_widget(form.dateEvenementDevis,
					{ attr: 
						{placeholder:'Saisissez un date'} 
					})}}
				</div>
				<div class="col">
					{{form_label(form.nbHeuresDevis, "Durée de l'evenement:")}}
					{{form_widget(form.nbHeuresDevis,
						{ attr: 
							{
								placeholder:'Saisissez une durée en heure',
								autofocus:'autofocus'
							} 
						})
					}}
				</div>
			</div >
			
			<p>
				</br>
				<input type="submit" value="Valider" class="btn btn-dark"/>
			</p>
			{{form_end(form)}}
		</div>
	</div>
{% endblock %}