{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Gestion des evenements</h1>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12">
	
    <p class="text-right">
        
    </p>
	</div>
		<table class="table table-striped">
			<tr>
				<th>Numéro evenement</th>
				<th>Date</th>
				<th>Heure debut</th>
				<th>Heure fin</th>
				<th>Nombre de coiffeur</th>
			</tr>
			{% for evenement in results %}
				<tr>
					<td class="col-md-4">{{ evenement.idEvenement }}</td>
					<td class="col-md-1">{{ evenement.dateEvenement|date("m/d/Y") }}</td>
					<td class="col-md-1">{{ evenement.heureDEvenement }}</td>
					<td class="col-md-1">{{ evenement.heureFEvenement }}</td>
					<td class="col-md-1">{{ evenement.nbCoiffeursEvenement }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}







