{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-md-8">
			<h1>Gestion des utilisateurs</h1> 
			{% include "_inc/flash.messages.html.twig" %}
		</div>
		<div class="col-md-4">
		<p>
			{% include "_inc/search.html.twig" with {form: form} only %}
		</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			
				<div class="row">
					{% set nbCoif = 0 %}
					{% set nbEnt = 0 %}
					{% for user in results %} 
						{% for role in user.roles %}
							<td class="col-md-1">
								{% if role == 'ROLE_COIFFEURS' %} {% set nbCoif = nbCoif + 1 %}  {% endif %}
								{% if role == 'ROLE_ENTREPRISES' %} {% set nbEnt = nbEnt + 1 %}  {% endif %}
							</td>
						{% endfor %} 
					{% endfor %} 
					<div class="col">
						Il y a {{ nbCoif }} coiffeur(s) dans la base de données.
					</div>
					<div class="col">
						Il y a {{ nbEnt }} entreprise(s) dans la base de données.
					</div>
				</div></br>
			
		</div>
	</div>
	<div class="row" >		
		<div class="col-md-4">
			<a href="{{ url('app_register', { typeUser:'entreprises' }) }}" class="btn btn-dark col-md-10">+ Ajouter une entreprise</a>
		</div>
				
		<div class="col-md-4">
			<a href="{{ url('app_register', { typeUser:'admins' }) }}" class="btn btn-dark col-md-10">+ Ajouter un administrateur</a>
		</div>

		<div class="col-md-4">
			{% if app.user.notif == 1 %}
				<a href="{{ url('bizandcut.notif.false') }}" class="btn btn-dark col-md-10">Refuser les notifications</a>
			{% else %}
				<a href="{{ url('bizandcut.notif.true') }}" class="btn btn-dark col-md-10">Autoriser les notifications</a>
			{% endif %}
		</div>
		
	</div></br>
		<table class="table table-striped">
			<tr>
				<th>Email</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Rôle</th>
				<th>Statut</th>
				<th>Actions</th>
			</tr>
			{% for user in results %} 
				<tr>
					<td class="col-md-1">{{ user.email }}</td>
					<td class="col-md-2">{{ user.nom }}</td>
					<td class="col-md-2">{{ user.prenom }}</td>
					{% for role in user.roles %}
						<td class="col-md-1">
							{% if role == 'ROLE_COIFFEURS' %} Coiffeur  {% endif %}
							{% if role == 'ROLE_ADMINS' %} Administrateur  {% endif %}
							{% if role == 'ROLE_SALARIES' %} Salarié  {% endif %}
							{% if role == 'ROLE_ENTREPRISES' %} Entreprise  {% endif %}
						</td>
					{% endfor %} 
					
					<td class="col-md-1">
					{% if user.deleted == 0  %}
						<a href="{{ url('bizandcut.users.desactive', { id:user.id}) }}"><div style="width: 40px; height: 40px; border-radius: 20px; background: green;"></div></a>
					{% else %}
						<a href="{{ url('bizandcut.users.active', { id:user.id}) }}"><div style="width: 40px; height: 40px; border-radius: 20px; background: red;"></div></a>
					{% endif %} 
					</td>
					<td class="col-md-4">
					{% for role in user.roles %}
						{% if role == 'ROLE_COIFFEURS' %} 
								<a href="{{ url('bizandcut.profil.index', { coiffeur:user.id}) }}" class="btn btn-dark col-md-4">Profil</a>
							{% if user.validationBC == 0 %}
								<a class="btn btn-success col-md-4" href="{{ url('bizandcut.profil.valider', { coiffeur:user.id }) }}">Valider</div></a>
							{% else %}
								<a class="btn btn-danger col-md-4" href="{{ url('bizandcut.profil.invalider', { coiffeur:user.id }) }}">Invalider</div></a>
							{% endif %}
						{% endif %}
						{% if role == 'ROLE_ADMINS' %}{% endif %}
						{% if role == 'ROLE_SALARIES' %}{% endif %}
						{% if role == 'ROLE_ENTREPRISES' %}{% endif %}
					{% endfor %} 
					</td>
				</tr>
			{% endfor %}
		</table>
		
	</div>
{% endblock %}

