<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="{{ url('homepage.index') }}">BizAndCut</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url('homepage.index') }}">Home <span class="sr-only">(current)</span></a>
      </li>

      </ul>
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url('app_register', { typeUser:'coiffeurs' }) }}">Inscription Coiffeurs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url('app_register', { typeUser:'entreprises' }) }}">Inscription Entreprise</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url('app_register', { typeUser:'salaries' }) }}">Inscription Salarié</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url('app_register', { typeUser:'admins' }) }}">Inscription Admin</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-success" href="{{ url('app_login') }}">Connexion</a>
      </li>
    </ul>
    {% else %}
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item active">
        <div class="nav-link" href="">Bienvenue {{ app.user.prenom }}</div>
      </li>
      <li class="nav-item active">
        <a class="btn btn-danger" href="{{ url('app_logout') }}">Déconnexion</a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>