<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <!--a class="navbar-brand" >Biz&Cut</a-->
    <a  href="{{ url('homepage.index') }}">
      <img src="{{ asset('img/logo_blanc.png') }}" width="150" class="img-fluid"/>
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
      </li>
    </ul>

    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="{{url('bizAndCutOtherPage.prestationDeCoiffure.index')}}">Prestation de coiffure sur votre lieu de travail</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url('bizAndCutOtherPage.commentCaMarche.index')}}">Comment ça marche ?</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url('bizAndCutOtherPage.detailsDeNosPrestation.index')}}">Nos prestations</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inscription </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">	
          <a href="{{ url('app_register', { typeUser:'entreprises' }) }}" class="dropdown-item"> Vous êtes une entreprise ? </a>
          <a href="{{ url('app_register', { typeUser:'coiffeurs' }) }}" class="dropdown-item"> Vous êtes un coiffeur ?</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="btn btn-dark" href="{{ url('app_login') }}">Connexion</a>
      </li>
    </ul>
    {% else %}
      {% if is_granted('ROLE_COIFFEURS') %}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a href="{{ url('coiffeur.devis.index') }}" class="nav-link">Tableau de bord</a>
        </li>
        <li class="nav-item active">
          <div class="nav-link">|</div>
        </li>
        <li class="nav-item active">
          <a href="{{ url('coiffeur.profil.index') }}" class="nav-link">Mon profil</a>
        </li>
      </ul>
      {% endif %}
      {% if is_granted('ROLE_ADMINS') %}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a href="{{ url('bizandcut.users.index') }}" class="nav-link">Gestion des utilisateurs</a>
        </li>
        <li class="nav-item active">
          <div class="nav-link">|</div>
        </li>
        <li class="nav-item active">
          <a href="{{ url('bizandcut.propositions.index') }}" class="nav-link">Voir les propositions</a>
        </li>
        <li class="nav-item active">
          <div class="nav-link">|</div>
        </li>
        <li class="nav-item active">
        <a href="" class="nav-link">Boite de reception</a>
        </li>
      </ul>
      {% endif %}
      {% if is_granted('ROLE_ENTREPRISES') %}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a href="{{ url('entreprise.devis.index') }}" class="nav-link">Tableau de bord</a>
            </li>
            <li class="nav-item active">
              <div class="nav-link">|</div>
            </li>
            <li class="nav-item active">
              <a href="{{ url('entreprise.devis.form') }}" class="nav-link">Créer un événement</a>
            </li>
      </ul>
      {% endif %}
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item active">
          <div class="nav-link" href="">Bienvenue {{ app.user.prenom }}</div>
        </li>
        <li class="nav-item active">
          <a class="btn btn-danger" href="{{ url('app_logout') }}">Déconnexion</a>
        </li>
      </ul>
    {% endif %}
  </div>
</nav>