{% extends 'base.html.twig'  %}
{% block bodyHome %}
        {% include "_inc/flash.messages.html.twig" %}
                <video controls loop autoplay style="
                    position: fixed; right: 0; bottom: 0;
                    min-width: 100%; min-height: 100%;
                    width: auto; height: auto; z-index: -100;
                    background: url(polina.jpg) no-repeat;
                    background-size: cover;">
                    <source height="500px" src="{{ asset('img/video_acc.mp4') }}" type="video/mp4">
                    <source src="{{ asset('img/video_acc.mp4') }}" type="video/ogg">
                </video>

                <div class="title font-primary" style="text-align: center; color: white">
                    <h1 style=" margin-top: 182px;
                                font-weight: bold;">
                        Jamais le temps d'aller chez le coiffeur ?</h1>
                        <a style="color: white;"class="btn btn-outline-dark btn-lg" href="{{ url('app_register', { typeUser:'entreprises' }) }}">Rejoignez-nous, on vient à vous !</a>
                </div>

                <div id="prestation"
                    style="     background-color: white;
                                margin-top: 182px;
                                padding-top:75px;
                                padding-bottom:75px;
                                text-align: center;
                                top: 0; left: 0;
                                ">
                    <h1>Prestations de coiffure sur votre lieu de travail</h1>
                    <p style="  margin-top: 40px; text-align: left; margin-left: 112px;  line-height:36px; font-size:1.2em  ">
                        Pour 97% des hommes, et pour 32 % des femmes, aller chez le coiffeur est une véritable contrainte.</br>
                        Vous n’arrivez pas à entretenir vos cheveux, et vous n'avez pas de temps pour prendre un <strong>rendez-vous ?</strong></br>
                        <strong>Biz&Cut</strong> est la solution qu’il vous faut !</br>
                        <strong>Rapides, flexibles</strong> et <strong>efficaces</strong> nos prestations s’adaptent à votre agenda, et non l’inverse.</br>
                        Nos coiffeurs/barbiers <strong>professionnels</strong> se déplacent sur votre lieu de travail pour vous proposer, des prestations de <strong>coupe</strong>,</br>
                        de <strong>coiffure</strong> et d'<strong>entretien de la barbe</strong> qui vont vous simplifier la vie.</br>
                        Nous vous garantissons <strong>ponctualité, efficacité</strong> et <strong>qualité</strong> !</br>

                    </p>
                </div>
                <div id="comment_ca_marche"
                    style="     background-color: black;
                                color:white;
                                padding-top:75px;
                                padding-bottom:75px;
                                text-align: center;
                                top: 0; left: 0;
                                ">
                    <h1>Comment ça marche ?</h1>
                    <p style=" margin-top: 40px; ">
                        <center>
                            <table style=" text-align: center ">
                                <tr>
                                    <td class="col-md-4"> 
                                        <h5><strong>On vous informe de notre passage</strong></h5>
                                        Biz&Cut m'informe régulièrement de sa</br>
                                        venue sur mon lieu de travail.</br>
                                        Plus besoin d'y penser.
                                    </td>
                                    <td class="col-md-4">
                                        <h5><strong>Choisissez votre créneau</strong></h5>
                                        Je sélectionne sur l'agenda en ligne</br> 
                                        le créneau de 15 minutes qui me convient </br>
                                        et je paye en ligne.</br>
                                        C'est simple et rapide.
                                    </td>
                                    <td class="col-md-4">
                                        <h5><strong>On s'occupe de tout</strong></h5>
                                        Mon rendez-vous s'inscrit </br> automatiquement dans mon agenda.</br> 
                                        Je reçois un rappel par sms</br> 1 heure avant ma prestation.

                                    </td>
                                </tr>
                            </table>
                        </center>
                    </p>
                </div>
                <div
                    style="     background-color: white;
                                color:black;
                                padding-top:75px;
                                padding-bottom:75px;
                                text-align: center;
                                top: 0; left: 0;
                                ">
                </div>
                <div id="contact"
                    style="     background-color: black;
                                color:white;
                                padding-top:75px;
                                padding-bottom:75px;
                                text-align: center;
                                top: 0; left: 0;
                                ">
                    <h1>Vous aussi découvrez la coiffure en entreprise :</h1>
                    <p style=" margin-top: 40px; ">
                        <center>
                            <table>
                                <tr>
                                    <td class="col-md-6"> 
                                       {{form_start(form,{ attr: {novalidate:'novalidate'}})}}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ form_label(form.nom, "Nom ") }} 
                                                    {{ form_widget(form.nom,
                                                    { attr: 
                                                        { placeholder:'Saisissez un nom'} 
                                                    })}}
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    {{ form_label(form.telephone, "Téléphone") }} 
                                                    {{form_widget(form.telephone,
                                                    { attr: 
                                                        {placeholder:'Saisissez un numéro de téléphone'} 
                                                    })}}
                                                </div>
                                            </div >
                                            <p>
                                                {{form_label(form.email, "Email")}}
                                                {{form_widget(form.email)}}
                                            </p>
                                            <p>
                                                {{form_label(form.message, "Message")}}
                                                {{form_widget(form.message)}}
                                            </p>
			                                <p>
                                                </br>
                                                <input type="submit" value="Envoyer" class="btn btn-dark"/>
                                            </p>
			                             {{ form_end(form) }}
                                    </td>
                                    <td class="col-md-6" style="text-align:center;">
                                        <strong>Biz&Cut</strong></br>
                                        18 rue Boyer Barret</br>
                                        75014 - Paris</br></br></br>
                                        <strong>Ouvert du lundi au vendredi</strong></br></br>
                                        <a  href="{{url('homepage.index')}}">
                                            <img src="{{ asset('img/logo_blanc.png') }}" width="150" class="img-fluid"/>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </p>
                </div>
{% endblock %} 