{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			{% include "_inc/flash.messages.html.twig" %}
			<h1> Profil </h1>
		</div>
	</div>

	
	<div class="row">
	<div class="col-md-12">
	
    <p class="text-right">
        
    </p>
	</div>
	
		<table class="table table-striped">
			<ul>
				<li> 
					<b> Civilite : </b> 
					{{user.civilite}}
						
				</li>
				<li> 
					<b> Nom: </b> 
					{{user.nom}}
				</li>
				<li> 
					<b> Prénom: </b>
					{{user.prenom}} 
				</li>
				<li> 
					<b> Adresse: </b>
					{{user.adresse}}
					</li>
				<li> 
					<b> Ville: </b>
					{{user.ville}}
				</li>
				<li> 
					<b> Code postal: </b>
					{{user.cp}}
				</li>
				<li> 
					<b> Téléphone: </b>
					{{user.telephone}}
				</li>
				<li> 
					<b> Email: </b>
					{{user.email}}
				</li>
				<li> 
					<b> Nombre d'année d'expérience: </b>
					{{user.nbAnneesExp}}
				</li>
				<li> 
					<b> Distance entre votre adresse souhaitée et l'adresse de l'entreprise: </b>
					{{user.distance}}
				</li>
				
				{% if profil != null %}
					<li> 
						<b> RIB: </b>
						{{profil.rib}}
					</li>
					<li> 
						<b> Saisissez votre diplôme: </b>
						{{profil.diplome}}
					</li>
				{% else %}
					<li> 
						<b> RIB:</b> Non renseigné 
					</li>
					<li> 
						<b> Saisissez votre diplôme: </b> Non renseigné 
					</li>
				{% endif %}
				
				</br></br>
				
				
				{% if user.validationBC == 0 %}
					<p>Valider un profil signifie que les propositions de ce coiffeur n'auront pas besoin de votre validation </p>
					<a class="btn btn-success col-md-8" href="{{ url('bizandcut.profil.valider', { coiffeur:user.id }) }}">Valider le profil</div></a>
				{% else %}
					<p>Invalider un profil signifie que les propositions de ce coiffeur auront besoin de votre validation </p>
					<a class="btn btn-danger col-md-8" href="{{ url('bizandcut.profil.invalider', { coiffeur:user.id }) }}">Invalider le profil</div></a>
				{% endif %}
				
			</ul>

		</table>
	</div>
{% endblock %}









