{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			{% include "_inc/flash.messages.html.twig" %}
			<h1>Liste des devis</h1>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12">
	
    <p class="text-right">
        
    </p>
	</div>
		<table class="table table-striped">
			<tr>
				<th>N° devis</th>
				<th>Nombre de participant</th>
				<th>Date</th>
				<th>Durée</th>
				<th>Status</th>
				<th>Montant</th>
				<th>Action</th>
				
			</tr>
			{% for devis in results %} 
				<tr>
					<td class="col-md-1">{{ devis.id }}</td>
					<td class="col-md-2">{{ devis.nbParticipantsDevis }}</td>
					<td class="col-md-2">{{ devis.dateEvenementDevis|date("m/d/Y") }}</td>
					<td class="col-md-2">{{	devis.nbHeuresDevis}}</td>
					<td class="col-md-2">{{ devis.devisStatut.texteDevisStatut }}</td>
					{% for proposition in propositions %}
						{% if proposition.devis == devis %}
							<td class="col-md-2">{{ proposition.montant }} € </td>
						{% else %}
							<td class="col-md-2"></td>
						{% endif %}
					{% endfor %}
					<td class="col-md-4">
					{% if devis.devisStatut.id == 2 %}
						<a href="" class="btn btn-warning col-md-3">Participer à l'événement</a>
					{% else %}
						<a href="{{ url('coiffeur.propositions.form', { id:devis.id }) }}" class="btn btn-info col-md-4">Propositions</a>
					{% endif %}

					</td> 
					
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}

