{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			{% include "_inc/flash.messages.html.twig" %}
			<h1>Liste des devis</h1>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12">
	
    <p class="text-right">
        
    </p>
	</div>
		<table class="table table-striped">
			<tr>
				<th>Evénement</th>
				<th>Fait le</th>
				<th>Durée</th>
				<th>Nb participant</th>
				<th>Nb Inscrit</th>
				<th>Montant</th>
				<th>Actions</th>
			</tr>
			{% for devis in results %}
				<tr>
					<td class="col-md-3">{{ devis.libelle }}</td>
					<td class="col-md-1">{{ devis.date|date("d/m/Y") }}</td>
					<td class="col-md-1">
						{{ devis.heureDebut }} - {{ devis.heureFin }}
					</td>
					<td class="col-md-1">{{ devis.nbParticipants}}</td>
					<td class="col-md-1">{{ devis.nbInscrit}}</td>
					
						{% if devis.devisStatut.id == 2  %}
							<td class="col-md-1">
								{% for propo in propositions %}
									{% if propo.devis.id == devis.id and propo.validationEntreprise == 1 %} {{ propo.montant }}€ {% endif %}
								{% endfor %} 
							</td>
							<td class="col-md-3">
								<a class="border border-success rounded col-md-12 text-success">Devis accepté par le client</a>
							</td>
						{% else %}
							<td class="col-md-1">/</td>
							<td class="col-md-3">
								<a class="btn btn-dark col-md-12" href="{{ url('bizandcut.devis.proposition', { id:devis.id }) }}">Voir les proposition</div></a>
							</td>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}









