{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			{% include "_inc/flash.messages.html.twig" %}
			<h1>Liste des devis</h1>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12">
	
    <p class="text-right">
        
    </p>
	</div>
		<table class="table table-striped">
			<tr>
				<th>N° devis</th>
				<th>Nombre de participant</th>
				<th>Date</th>
				<th>Durée</th>
				<th>Status</th>
				<th>Montant</th>
				<th>Action</th>
				
			</tr>
			{% for devis in results %} 
				<tr>
					<td class="col-md-1">{{ devis.id }}</td>
					<td class="col-md-3">{{ devis.nbParticipantsDevis }}</td>
					<td class="col-md-1">{{ devis.dateEvenementDevis|date("m/d/Y") }}</td>
					<td class="col-md-2">
						{% if devis.nbHeuresDevis == 1 %}
							Une journée
						{% else %}	
							Une demie journée
						{% endif %}
					</td>
					<td class="col-md-2">{{ devis.devisStatut.texteDevisStatut }}</td>
					<td class="col-md-1">
					{% set var1 = 1 %}
					{% for proposition in propositions %}
						{% if proposition.devis == devis and proposition.validationEntreprise == 1 %}
							{{ proposition.montant }} € 
							{% set var1 = 1 %}
						{% endif %}
					{% endfor %}
					{% if var1 == 0 %}
						/
					{% endif %}
					</td>
					<td class="col-md-2">
						{% set var = 0 %}
						{% if devis.devisStatut.id == 2 %}
							{% set var = 1 %}
						{% else %}
							{% for proposition in propositions %}
								{% if proposition.devis == devis and proposition.coiffeur == app.user %}
									{% set var = 2 %}
								{% endif %} 
							{% endfor %}
						{% endif %} 
						
						{% if var == 2 %}
							<p>Proposition en cours</p>
						{% endif %} 
						{% if var == 1 %}
							<a href="{{ url('coiffeur.creneau.index', { id:devis.id }) }}" class="btn btn-warning">Participer à l'événement</a>
						{% endif %}  
						{% if var == 0 %}
							<a href="{{ url('coiffeur.propositions.form', { id:devis.id }) }}" class="btn btn-info">Propositions</a>
						{% endif %} 
					</td> 
					
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}