{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Inscription Coiffeur</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ form_start(form, { attr: { novalidate: 'novalidate' } } ) }}
				
				
				
				<div id="Form" class="mt-4">
					<div class="row">
						<div class="col"> 
							{{ form_label(form.civiliteCoiffeur, 'Civilité ') }} 
						</div>
					</div >	
					</div class="row">
						{{ form_widget(form.civiliteCoiffeur) }}
					<div>


					<div class="row">
						<div class="col">
							{{ form_label(form.nomCoiffeur, "Nom, Prénom ") }} 
							{{ form_widget(form.nomCoiffeur) }}
						</div>
						<div class="col">
							{{ form_label(form.prenomCoiffeur) }} 
							{{ form_widget(form.prenomCoiffeur) }}
						</div>
					</div >


					

					<div class="row">
						<div class="col">
							{{ form_label(form.nbAnneesExp, "Nombre d'année d'expérience") }} 
							{{ form_widget(form.nbAnneesExp) }}
						</div>
						<div class="col">
							{{ form_label(form.typeCoiffeur, "Type de coiffure") }} 
							{{ form_widget(form.typeCoiffeur) }}
						</div>
					</div >



					

					<div class="row">
						<div class="col">
							{{ form_label(form.emailCoiffeur, 'Email') }} 
							{{ form_widget(form.emailCoiffeur) }}
						</div>
						<div class="col">
							{{ form_label(form.telephoneCoiffeur, 'Téléphone') }} 
							{{ form_widget(form.telephoneCoiffeur) }}
						</div>
					</div >





					<div ="row">
						<div class="col"> 
							{{ form_label(form.adresseCoiffeur, 'Adresse') }}
						 </div>
						{{ form_widget(form.adresseCoiffeur) }}
					</div>


					
					<div class="row">
						<div class="col">
							{{ form_label(form.villeCoiffeur, "Ville ") }} 
							{{ form_widget(form.villeCoiffeur) }}
						</div>
						<div class="col">
							{{ form_label(form.cpCoiffeur, "Code Postal ") }} 
							{{ form_widget(form.cpCoiffeur) }}
						</div>
					</div >


					<div ="row">
						<div class="col"> {{ form_label(form.distanceCoiffeur, 'Distance maximal entre le domicile ou le lieu de travail et lévénements:') }} </div>
						{{ form_widget(form.distanceCoiffeur) }}
						<div class="col"> {{ form_label(form.mdpCoiffeur, 'Mot de passe') }} </div>
						{{ form_widget(form.mdpCoiffeur) }}
						<div class="col"> {{ form_label(form.deletedCoiffeur, 'delete') }} </div>
						{{ form_widget(form.deletedCoiffeur) }}
					</div>


				
				</div>
			<p>
				<input type="submit" class="btn btn-info" value="Valider">
			</p>
				
		</div>
		
	</div>
{% endblock %}